body{
  margin: 0;
  background-image: url(original.jpg);
  background-size: cover;
  }
  .main{
    width: 80%;
    height: 60%;
    background-color: white;
    margin: auto;
  }
  .search input{
    font-size: 15px;
  }
  .search{
    position: absolute;
    align-self: center;
    right: 2vw;
  }
  .search button{
    width: 27px;
    background-color: black;
  }
  .search img{
    width: 15px;
    height: 15px;
  }
nav{
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  background-color: black;
  margin: 0;
  width: 60%;
  height: 7vh;
  display: flex;
}
nav a{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  font-family: sans-serif;
  margin: auto;
  text-decoration: none;
  color: white;
}
nav a:hover{
  display: flex;
  justify-content: space-around;
  color: #CCCCCC;
}
footer {
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  justify-content: center;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  min-height: 5vh;
}
.icon{
  display: flex;
}
.icon img{
  margin: auto;
  width: 25%;
  margin-top: 13vh;
}
.share{
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
}
.share img{
  display: flex;
  width: 17%;
  margin: auto;
}
.social_networks{
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin-bottom: 7vh;
}
.social_networks img{
  width: 8%;
  height: 8%;
}
.location{
  display: inline-flex;
  align-items: center;
}
.location table{
  margin-left: -20%;
}
.location img{
  margin-left: 40%;
  width: 30%;
  height: 40%;
}
@media screen and (max-width: 400px){
  .search{
    position: absolute;
    right: 4vw;
  }
  .search input{
    visibility: hidden;
    /*pri najatii na loop budet vyhodit'*/
  }
  nav a{
    font-size: 80%;
  }
  .share img{
    width: 50%;
  }
  .icon img{
    width: 60%;
    margin-top: 10vh;
  }
  footer{
    width: 100%;
    font-size: 80%;
  }
  .social_networks{
    margin-bottom: 13%;
    align-items: center;
  }
  .social_networks img{
    width: 15%;
    height: 15%;
  }
  .location img{
    visibility: hidden;
  }
}
